.parent-container {
  text-align: right;
}
.history-display {
  position: absolute;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 230px;
  height: 40px;
  right: 270px;
}

.expression, .result {
  font-size: 1.2em;
}

.history-expression {
  color: black;
}

.history-result {
  color: black;
  margin-top: 5px;
}


.superscript-mode {
  display: flex;
  align-items: baseline;
}