.modal {
  display: flex;
  position: fixed;
  width: 40%;
  height: 70%;
  overflow: auto;
  padding: 10px;
  background-color: rgb(31,31,31);
  border-radius: 8px;
  box-sizing: border-box;
  margin-left: -10px;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(31,31,31);
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


h2 {
  margin-top: 0;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.history-entry {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(31,31,31);
}

.history-expression,
.history-result {
  color: white;
  border: 1px solid rgb(138,180,247);
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(31,31,31);
}

.equal-sign {
  color: white;
  margin: 0 10px;
  font-size: 1.2em;
}

.no-history {
  color: white;
}
